body, html, .main {
    height: 100%;
}

section {
    min-height: 100%;
}


#section1 {
	background-image: url(../images/movie.jpg);
	background-size:  100% 100%;;
}

#section2 {
	background-color: rgb(53, 183, 232);
}

#poster {
	font-family: 'Londrina Solid', cursive;
	font-size: 25px;
	display: inline-block;
	margin-top: 15%;
	margin-left: 25%;
    width: 42%;
	border-radius: 76px;
	background-color: rgb(255, 162, 155);
	border: 2px solid black;
	text-align: center;
}

/*.btn {

}
